<div>
    <h2 class="text-center">Listado de Peliculas</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var pelicula in Peliculas)
        {
                <div class ="card-deck mb-3"> 
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <h4 class="fw-bold">@pelicula.Nombre</h4>
                        </div> 
                        <div class="card-body">  
                            <img class="card-img-top" src="@pelicula.Imagen" alt="Card image cap" > 
                            <h5 class="card-title"><em>@pelicula.Nombre</em></h5>
                            <h6 class="fw-bold">Director: 
                                <small>@pelicula.Director</small>
                            </h6>
                            <h5 class="fw-bold">Puntuación:
                                <small>@pelicula.Puntaje</small>
                            </h5>
                            <small class="text-muted">@pelicula.Sinopsis</small>  
                        </div>  
                        <footer class="blockquote-footer">
                                <cite>@pelicula.Lanzamiento.ToString("dd/MM/yyyy")</cite>
                        </footer> 
                    </div>
                </div>          
        }
    </div>
</div>

@code
{
    [Parameter] public List<Pelicula> Peliculas {get;set;}
}