@using Peliculas.Client.Pages.Componentes
<div class="container">
    <div class="jumbotron">
        <EditForm Model="Actor" OnValidSubmit ="OnValidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="mb-3">
                <InputText class="form-control" @bind-Value="@Actor.NombreActor" placeholder="Actor"></InputText>
                <ValidationMessage For="@(()=>Actor.NombreActor)"></ValidationMessage>
            </div>
            <div class="form-group row mb-3">
                <div class="col-sm-8">
                    <InputDate class="form-control" @bind-Value="@Actor.FechaNacimiento"></InputDate>
                    <ValidationMessage For="@(()=>Actor.FechaNacimiento)"></ValidationMessage>
                </div>

                <div class="col-sm-4">
                    <InputNumber class="form-control" @bind-Value="@Actor.Nominaciones"placeholder="Cantidad de Nominaciones"></InputNumber>
                    <ValidationMessage For="@(()=>Actor.Nominaciones)"></ValidationMessage>
                </div>
            </div>

            <div class="form-group">
                <ComponenteImagen Label="Foto :" ImagenSeleccionada="ImagenSeleccionada" URLimagen ="@URLimagen"></ComponenteImagen>
            </div>
            <div class="form-group"></div>
            <button class="btn btn-success">Guardar</button>      
        </EditForm>
    </div>
</div>

@code 
{
    string URLimagen;
    [Parameter] public Actor Actor {get;set;}
    [Parameter] public EventCallback OnValidSubmit{get;set;}

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Actor.Foto))
        {
            URLimagen = Actor.Foto;
            Actor.Foto = null;
        }
    }

    private void ImagenSeleccionada(string imageB64)
    {
        Actor.Foto = imageB64;
        URLimagen = null;
    }
}